<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<!-- Фрагмент боковой панели -->
<div th:fragment="sidebar" class="sidebar col-md-3 col-lg-2 d-md-block bg-dark text-white min-vh-100">
    <div class="position-sticky pt-3">
        <h4 class="text-center mb-4">ShelfMate</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/}">
                    <i class="bi bi-house-door me-2"></i> Главная
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-white" th:href="@{/profile}">
                    <i class="bi bi-person me-2"></i> Мой профиль
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/authors}">
                    <i class="bi bi-people me-2"></i> Авторы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/books}">
                    <i class="bi bi-book me-2"></i> Книги
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/allreviews}">
                    <i class="bi bi-body-text me-2"></i> Отзывы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/quotes}">
                    <i class="bi bi-chat-quote me-2"></i> Цитаты
                </a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-white" th:href="@{/user-goals}">
                    <i class="bi bi-bar-chart-line me-2"></i> Цели
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-white" th:href="@{/settings}" >
                    <i class="bi bi-gear me-2"></i> Настройки
                </a>
            </li>
            <!-- Кнопка входа/выхода -->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link text-white" th:href="@{/login}">
                    <i class="bi bi-box-arrow-in-right me-2"></i> Вход
                </a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="nav-link text-white bg-transparent border-0 w-100 text-start">
                        <i class="bi bi-box-arrow-left me-2"></i> Выход
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
